<link href="/uploadFile/upload.css" rel="stylesheet" />
<!-- <div class="onlinefs-upload-panel">
    <div>
        <onlinefs-steps></onlinefs-steps>
    </div>
    <div>
        <onlinefs-file title="选择文件"></onlinefs-file>
    </div>
    <div>
        <onlinefs-input title="文件名"></onlinefs-input>
    </div>
    <div>
        <onlinefs-textarea title="备注"></onlinefs-textarea>
    </div>
</div> -->

<div class="onlinefs-upload-panel">
    <div>
        <onlinefs-steps></onlinefs-steps>
    </div>
    <div>
        <onlinefs-list title="用户和组"></onlinefs-list>
    </div>
    <div class="onlinefs-upload-authority">
        <div>
            <onlinefs-checkbox id="remember"></onlinefs-checkbox>
            <label>读取</label>
        </div>
        <div>
            <onlinefs-checkbox id="remember"></onlinefs-checkbox>
            <label>写入</label>
        </div>
        <div>
            <onlinefs-checkbox id="remember"></onlinefs-checkbox>
            <label>修改参数</label>
        </div>
        <div>
            <onlinefs-checkbox id="remember"></onlinefs-checkbox>
            <label>删除</label>
        </div>
    </div>
</div>
<div></div>