onlinefs-checkbox {
    /* display: inline-block; */
    float: left;
    height: 14px;
    margin-top: 3px;
}

onlinefs-checkbox div {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    display: inline-block;
    text-align: center;
}

onlinefs-checkbox span {
    height: 14px;
    width: 14px;
    font-size: 12px;
    display: inline-block;
    margin-top: -5px;
}

onlinefs-loading div {
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100000;
}

onlinefs-loading img {
    user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    z-index: 100001;
}

onlinefs-silder-list>div {
    height: 40px;
    width: 210px;
    flex-grow: 0;
    flex-shrink: 0;
    background: #2b2e37;
    line-height: 40px;
    color: #ffffff;
    text-indent: 28px;
    user-select: none;
}

onlinefs-silder-list>div>img {
    float: right;
    margin-top: 8px;
    margin-right: 28px;
    cursor: pointer;
}

onlinefs-silder-list>ul {
    width: 210px;
    list-style: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    /* display: none; */
}

onlinefs-silder-list>ul li {
    height: 40px;
    line-height: 40px;
    color: #c2c2c2;
    cursor: pointer;
    padding-left: 23px;
    border-left: 5px solid #393d49;
    user-select: none;
}

onlinefs-silder-list>ul li:hover {
    border-left: 5px solid #19a094;
}

onlinefs-silder-list>ul li.active {
    background: #5fb878;
    border-left: 5px solid #5fb878;
    color: #ffffff;
}

.onlinefs-datagrid {
    background: #ffffff;
    border-collapse: collapse;
    width: 100%;
}

.onlinefs-datagrid td,
.onlinefs-datagrid th {
    border: 1px solid #e2e2e2;
    text-align: left;
    padding: 0px 10px;
    height: 38px;
}

.onlinefs-datagrid th {
    background: #f2f2f2;
    cursor: default;
}

.onlinefs-datagrid-isSort {
    cursor: pointer !important;
}

.onlinefs-datagrid-sort-img {
    height: 10px;
    float: right;
    width: 16px;
    margin-top: 8px;
}

.onlinefs-droplist {
    width: 300px;
    height: 36px;
    background: #ffffff;
    position: relative;
}

.onlinefs-droplist>div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.onlinefs-droplist input {
    border: none;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
}

.onlinefs-droplist>div>div {
    flex-grow: 0;
    width: 43px;
    height: 100%;
    background: #4c8bc2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.onlinefs-droplist ul {
    display: none;
    position: absolute;
    background: #ffffff;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}

.onlinefs-droplist ul li {
    padding: 10px;
    cursor: pointer;
}

.onlinefs-droplist ul li:hover {
    background: #19a094;
    color: #ffffff;
}

.onlinefs-search {
    width: 300px;
    height: 36px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
}

.onlinefs-search input {
    border: none;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
}

.onlinefs-search>div {
    flex-grow: 0;
    width: 43px;
    height: 100%;
    background: #4c8bc2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}