            onlinefs-checkbox {
                /* display: inline-block; */
                float: left;
                height: 14px;
                margin-top: 3px;
            }
            
            onlinefs-checkbox div {
                width: 14px;
                height: 14px;
                background: #ffffff;
                border: 1px solid #d4d4d4;
                display: inline-block;
                text-align: center;
            }
            
            onlinefs-checkbox span {
                height: 14px;
                width: 14px;
                font-size: 12px;
                display: inline-block;
                margin-top: -5px;
            }
            
            onlinefs-loading div {
                width: 100%;
                height: 100%;
                background: #ffffff;
                opacity: 0.4;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 100000;
            }
            
            onlinefs-loading img {
                user-select: none;
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
                margin: auto;
                z-index: 100001;
            }
            
            onlinefs-silder-list>div {
                height: 40px;
                width: 210px;
                flex-grow: 0;
                flex-shrink: 0;
                background: #2b2e37;
                line-height: 40px;
                color: #ffffff;
                text-indent: 28px;
                user-select: none;
            }
            
            onlinefs-silder-list>div>img {
                float: right;
                margin-top: 8px;
                margin-right: 28px;
                cursor: pointer;
            }
            
            onlinefs-silder-list>ul {
                width: 210px;
                list-style: none;
                margin: 0;
                padding: 0px;
                overflow: hidden;
                /* display: none; */
            }
            
            onlinefs-silder-list>ul li {
                height: 40px;
                line-height: 40px;
                color: #c2c2c2;
                cursor: pointer;
                padding-left: 23px;
                border-left: 5px solid #393d49;
                user-select: none;
            }
            
            onlinefs-silder-list>ul li:hover {
                border-left: 5px solid #19a094;
            }
            
            onlinefs-silder-list>ul li.active {
                background: #5fb878;
                border-left: 5px solid #5fb878;
                color: #ffffff;
            }
            
            .onlinefs-datagrid {
                background: #ffffff;
                border-collapse: collapse;
                width: 100%;
            }
            
            .onlinefs-datagrid td,
            .onlinefs-datagrid th {
                border: 1px solid #e2e2e2;
                text-align: left;
                padding: 0px 10px;
                height: 38px;
            }
            
            .onlinefs-datagrid th {
                background: #f2f2f2;
                cursor: default;
            }
            
            .onlinefs-datagrid-isSort {
                cursor: pointer !important;
            }
            
            .onlinefs-datagrid-sort-img {
                height: 10px;
                float: right;
                width: 16px;
                margin-top: 8px;
            }
            
            .onlinefs-droplist {
                width: 300px;
                height: 36px;
                background: #ffffff;
                position: relative;
            }
            
            .onlinefs-droplist>div {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
            }
            
            .onlinefs-droplist input {
                border: none;
                height: 100%;
                flex-grow: 1;
                box-sizing: border-box;
                font-size: 18px;
                padding-left: 10px;
            }
            
            .onlinefs-droplist>div>div {
                flex-grow: 0;
                width: 43px;
                height: 100%;
                background: #4c8bc2;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            
            .onlinefs-droplist ul {
                display: none;
                position: absolute;
                background: #ffffff;
                list-style: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
                max-height: 320px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            
            .onlinefs-droplist ul li {
                padding: 10px;
                cursor: pointer;
            }
            
            .onlinefs-droplist ul li:hover {
                background: #19a094;
                color: #ffffff;
            }
            
            .onlinefs-search {
                width: 300px;
                height: 36px;
                background: #ffffff;
                display: flex;
                flex-direction: row;
            }
            
            .onlinefs-search input {
                border: none;
                height: 100%;
                flex-grow: 1;
                box-sizing: border-box;
                font-size: 18px;
                padding-left: 10px;
                outline: none;
            }
            
            .onlinefs-search>div {
                flex-grow: 0;
                width: 43px;
                height: 100%;
                background: #4c8bc2;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            
            onlinefs-tabs {
                color: #555555;
                font-size: 16px;
                cursor: default;
            }
            
            onlinefs-tabs>div {
                margin-top: 15px;
            }
            
            onlinefs-tabs>div>div:first-child ul {
                padding: 0px;
                margin: 0px;
                list-style: none;
            }
            
            onlinefs-tabs>div>div:first-child ul li {
                float: left;
                width: 100px;
                height: 32px;
                text-align: center;
                line-height: 36px;
                cursor: pointer;
            }
            
            onlinefs-tabs>div>div:first-child ul li.active {
                background: #ffffff;
            }
            
            onlinefs-tabs>div>div:first-child ul li:hover {
                background: #ffffff;
            }
            
            onlinefs-tabs>div>div:last-child {
                background: #ffffff;
            }
            
            onlinefs-steps,
            onlinefs-steps>div {
                width: 100%;
            }
            
            onlinefs-steps>div>div {
                float: left;
            }
            
            .onlinefs-steps-number {
                border: #555555 1px solid;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                color: #555555;
            }
            
            .onlinefs-steps-line {
                line-height: 26px;
                width: calc((100% - 90px - 40px - 6px) / 2);
                margin: 0px 10px;
            }
            
            .onlinefs-steps-line hr {
                color: #555555;
                display: inline-block;
                width: 100%;
                margin: 0px;
            }
            
            onlinefs-file>div {
                width: 100%;
                height: 30px;
                display: flex;
                flex-direction: row;
                position: relative;
                margin-top: 25px;
            }
            
            onlinefs-file>div>input:first-child {
                flex-grow: 1;
                border: 1px solid #d4d4d4;
                height: 100%;
                padding: 5px;
                box-sizing: border-box;
            }
            
            onlinefs-file>div>button {
                flex-grow: 0;
                width: 80px;
                height: 100%;
                background: #f2f2f2;
                color: #555555;
                border: 1px solid #d4d4d4;
                border-left: none;
            }
            
            onlinefs-file>div>input:last-child {
                position: absolute;
                width: 80px;
                height: 100%;
                right: 0px;
                top: 0px;
                opacity: 0;
            }
            
            onlinefs-input>div {
                width: 100%;
                height: 30px;
                display: flex;
                flex-direction: row;
                position: relative;
                margin-top: 15px;
            }
            
            onlinefs-input>div>input {
                flex-grow: 1;
                border: 1px solid #d4d4d4;
                height: 100%;
                padding: 5px;
                box-sizing: border-box;
                outline: none;
            }
            
            onlinefs-input>div>button {
                flex-grow: 0;
                width: 80px;
                height: 100%;
                background: #f2f2f2;
                color: #555555;
                border: 1px solid #d4d4d4;
                border-left: none;
                outline: none;
            }
            
            onlinefs-textarea>div {
                width: 100%;
                height: 150px;
                border: 1px solid #d4d4d4;
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }
            
            onlinefs-textarea>div>div:first-child {
                flex-grow: 0;
                width: 100%;
                height: 30px;
                background: #f2f2f2;
                color: #555555;
                border-bottom: 1px solid #d4d4d4;
                line-height: 30px;
                padding-left: 10px;
                box-sizing: border-box;
            }
            
            onlinefs-textarea>div>div:last-child {
                flex-grow: 1;
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                color: #555555;
                outline: none;
                background: #ffffff;
            }
            
            onlinefs-list>div {
                width: 100%;
                height: 200px;
                border: 1px solid #d4d4d4;
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }
            
            onlinefs-list>div>div:first-child {
                flex-grow: 0;
                width: 100%;
                height: 30px;
                background: #f2f2f2;
                color: #555555;
                border-bottom: 1px solid #d4d4d4;
                line-height: 30px;
                padding-left: 10px;
                box-sizing: border-box;
            }
            
            onlinefs-list>div>div:last-child {
                flex-grow: 1;
                width: 100%;
                box-sizing: border-box;
                color: #555555;
                outline: none;
                background: #ffffff;
                overflow: auto;
            }
            
            onlinefs-list>div>div:last-child ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
                width: 100%;
            }
            
            onlinefs-list>div>div:last-child ul li {
                width: 100%;
                height: 30px;
                padding-left: 10px;
                box-sizing: border-box;
                line-height: 30px;
                cursor: pointer;
            }
            
            onlinefs-list>div>div:last-child ul li:hover {
                background: #f2f2f2;
            }