.message-popup-model {
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.message-popup-content {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 570px;
    height: 263px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    font-size: 14px;
    color: #535e66;
    border-radius: 5px;
    z-index: 1001;
}

.message-popup-content>div {
    width: 100%;
    padding: 2px 10px;
    box-sizing: border-box;
    flex-grow: 1;
    color: #535e66;
    border-radius: 5px;
}

.message-popup-content>div:first-child {
    height: 61px;
    border-bottom: #eef0f1 solid 1px;
    flex-grow: 0 !important;
    line-height: 61px;
}

.message-popup-content>div:last-child {
    height: 61px;
    border-top: #eef0f1 solid 1px;
    flex-grow: 0 !important;
    line-height: 61px;
    text-align: right;
}

.message-popup-content>div:last-child button {
    width: 98px;
    height: 38px;
    background: #ffffff;
    border: #eef0f1 solid 1px;
    display: inline-block;
    outline: none;
}

.message-popup-content>div:last-child button:first-child {
    background: #527bcc;
    color: #ffffff;
    border: 1px solid #527bcc;
    margin-left: 10px;
}

.onlinefs-message-context {
    margin-top: 20px;
    margin-left: 25px;
}