onlinefs-title h1 {
    margin: 2px 0px;
    color: #555555;
    letter-spacing: 5px;
}

.onlinefs-crumbs {
    background: #ffffff;
    height: 38px;
    width: 100%;
}

.onlinefs-crumbs ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.onlinefs-crumbs li {
    float: left;
    height: 24px;
}

.onlinefs-crumbs ul li a,
.onlinefs-crumbs ul li span {
    color: #555555;
    font-size: 20px;
    line-height: 38px;
    margin: 0px 5px;
}

.onlinefs-crumbs ul li a {
    text-decoration: none;
}

.onlinefs-filter {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.onlinefs-manager-openfile {
    width: 100%;
    height: 100%;
}

#onlinfsopenfile>div>div:last-child {
    padding: 0px;
}

.onlinefs-tabs-tab {
    width: 100%;
    height: 128px;
    background: #ffffff;
}

.onlinefs-tabs-tab ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.onlinefs-tabs-tab ul li {
    float: left;
    width: 100px;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

.onlinefs-tabs-tab ul li span {
    display: block;
}

onlinefs-upload {
    width: 100%;
}